*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-image: url("https://images.pexels.com/photos/169647/pexels-photo-169647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    width: 100%;
}
.navbar{
    margin-left:300px ;
    padding-left: 800px;
    padding-top: 50px;
   
    font-family: inter;
    font-size: 24px;
    font-weight: bolder;
  

}   
.navbar a{
    margin-right: 50px;
    color:  #D8C9C9;
    text-decoration: none;
    }
.temperature-color {
    transition: color 0.3s ease; /* Optional: Add a smooth transition effect */
  }
  
#heading{
   font-size: 50px;
    text-align: center;
    color: #D8C9C9;
    padding-top: 50px;
    font-family: 'Jacques Francois Shadow';font-size: 24px;
    font-weight: bolder;

}
.container {
    max-width: 100%;
    padding-top: 100px;
    display: flex;
}

form {
    margin-bottom: 20px;
}
#countryInfo{
    text-align: center;
    line-height: 2rem;
    padding-top: 40px;
}

#countryInfo p:hover {
    background-color: #bf8fdf; 
    cursor: pointer;
  }

#countryInfo span{
    font-weight: bold;
}

.flagcontainer{
   display: block;
    text-align: center;
}
#weatherInfo {
    text-align: center;
    line-height: 2rem;
    padding-top: 20px;
}

#weatherInfo p:hover {
    background-color:  #cfade5; 
    cursor: pointer;
  }
  #weatherInfo ul:hover {
    background-color: #cfade5; 
    cursor: pointer;
  }
  #weatherInfo ul li:hover {
    background-color:  #bf8fdf; 
    cursor: pointer;
  }
#cityInput{
padding: 20px;
width: 500px;
border-radius: 20px;
font-size: 20px;
border-width: thick;

}
#cityInput::placeholder{
   color:black;
   text-align: center;
}
#weatherInfo ul{
    list-style-type: none;

}
#left-pane {
    margin-left: 20px;
    width: 800px;
    background-color:  #D8C9C9;
    border-radius: 15px;
    border-style:groove;
    border-width: thick;
    margin-bottom: 20px;
}
#left-pane:hover {
    background-color:  #d3b4e7; 
    cursor: pointer;
}
   
#cityImage img{
    max-width: 95%;    
    height: 100%; 
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    object-fit: fill;
    border-style:groove;
    border-width: thick;
    margin-bottom: 20px;
}

#cityForm{  
margin-left: 770px;
padding-top: 150px; 
}
.icons{
padding-top: 20px;
padding-left: 250px;
background-color: black;
size: 300px;
height: 90px;
width: 100%;
display: flex;
}
.icons a{
    color:#D8C9C9;
    padding-right: 10px;
}
#left-pane #countryInfo h1{
text-align: center;

}

#flag{
    height: 200px;
    width: 250px;
    padding:10px 0px 0px 10px;
}
#searchIcon{
    cursor: pointer;
    padding-left: 10px;
    font-size:xx-large;
    padding-top:2rem;  

}
#feedback{
    color: white;
    font-weight: bolder;
    font-size:x-large;
    padding-left: 400px;
   
}
#copyright{
    color: white;
    font-weight: bolder;
    font-size:x-large;
    text-align: end;
    padding-left: 300px;
    
}
#followUs{
    color: white;
    font-weight: bolder;
    font-size:x-large;
   padding-right: 30px;
   
}
.icons{
 align-items: start;  
}
#twitter{
    color:D8C9C9;
    font-size: 40px;
}
#facebook{
    color:D8C9C9;
    font-size: 40px;
   
}
#instagram{
    color:D8C9C9;
    font-size: 40px;
}
